<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="com.artifex.mupdfdemo"
  version="0.0.1">

  <name>Cordova Plugin MuPDF</name>
  <description>MuPDF</description>
  <license>MIT</license>
  <keywords>cordova,mupdf,pdf,android</keywords>
  <repo>https://github.com/davearata/cordova-plugin-mupdf.git</repo>
  <issue></issue>

  <engines>
    <engine name="cordova-android" version=">=3.1.0" />
  </engines>

  <!-- android -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="MuPdfPlugin">
          <param name="ios-package" value="MuPdfPlugin" />
      </feature>
    </config-file>

    <js-module src="www/mupdf.js">
      <clobbers target="window.pdf" />
    </js-module>

    <framework src="libz.dylib" />

    <source-file src="src/ios/libmupdf.a" framework="true" />
    <source-file src="src/ios/libmujs.a" framework="true" />
    <source-file src="src/ios/libfreetype.a" framework="true" />
    <source-file src="src/ios/libjbig2dec.a" framework="true" />
    <source-file src="src/ios/libjpeg.a" framework="true" />
    <source-file src="src/ios/libopenjpeg.a" framework="true" />

    <source-file src="src/ios/common.m" compiler-flags="-fno-objc-arc"/>
    <header-file src="src/ios/common.h" compiler-flags="-fno-objc-arc"/>

    <source-file src="src/ios/MuPdfPlugin.m"/>
    <header-file src="src/ios/MuPdfPlugin.h"/>

    <header-file src="src/ios/include/mupdf/fitz.h"/>
    <header-file src="src/ios/include/mupdf/html.h"/>
    <header-file src="src/ios/include/mupdf/memento.h"/>
    <header-file src="src/ios/include/mupdf/pdf-tools.h"/>
    <header-file src="src/ios/include/mupdf/pdf.h"/>
    <header-file src="src/ios/include/mupdf/xps.h"/>

    <header-file src="src/ios/include/mupdf/fitz/annotation.h" />
    <header-file src="src/ios/include/mupdf/fitz/bitmap.h" />
    <header-file src="src/ios/include/mupdf/fitz/buffer.h" />
    <header-file src="src/ios/include/mupdf/fitz/colorspace.h" />
    <header-file src="src/ios/include/mupdf/fitz/compressed-buffer.h" />
    <header-file src="src/ios/include/mupdf/fitz/context.h" />
    <header-file src="src/ios/include/mupdf/fitz/crypt.h" />
    <header-file src="src/ios/include/mupdf/fitz/device.h" />
    <header-file src="src/ios/include/mupdf/fitz/display-list.h" />
    <header-file src="src/ios/include/mupdf/fitz/document.h" />
    <header-file src="src/ios/include/mupdf/fitz/filter.h" />
    <header-file src="src/ios/include/mupdf/fitz/font.h" />
    <header-file src="src/ios/include/mupdf/fitz/function.h" />
    <header-file src="src/ios/include/mupdf/fitz/getopt.h" />
    <header-file src="src/ios/include/mupdf/fitz/glyph-cache.h" />
    <header-file src="src/ios/include/mupdf/fitz/glyph.h" />
    <header-file src="src/ios/include/mupdf/fitz/hash.h" />
    <header-file src="src/ios/include/mupdf/fitz/image.h" />
    <header-file src="src/ios/include/mupdf/fitz/link.h" />
    <header-file src="src/ios/include/mupdf/fitz/math.h" />
    <header-file src="src/ios/include/mupdf/fitz/meta.h" />
    <header-file src="src/ios/include/mupdf/fitz/outline.h" />
    <header-file src="src/ios/include/mupdf/fitz/output-pcl.h" />
    <header-file src="src/ios/include/mupdf/fitz/output-png.h" />
    <header-file src="src/ios/include/mupdf/fitz/output-pnm.h" />
    <header-file src="src/ios/include/mupdf/fitz/output-pwg.h" />
    <header-file src="src/ios/include/mupdf/fitz/output-svg.h" />
    <header-file src="src/ios/include/mupdf/fitz/output-tga.h" />
    <header-file src="src/ios/include/mupdf/fitz/output.h" />
    <header-file src="src/ios/include/mupdf/fitz/path.h" />
    <header-file src="src/ios/include/mupdf/fitz/pixmap.h" />
    <header-file src="src/ios/include/mupdf/fitz/shade.h" />
    <header-file src="src/ios/include/mupdf/fitz/store.h" />
    <header-file src="src/ios/include/mupdf/fitz/stream.h" />
    <header-file src="src/ios/include/mupdf/fitz/string.h" />
    <header-file src="src/ios/include/mupdf/fitz/structured-text.h" />
    <header-file src="src/ios/include/mupdf/fitz/system.h" />
    <header-file src="src/ios/include/mupdf/fitz/text.h" />
    <header-file src="src/ios/include/mupdf/fitz/transition.h" />
    <header-file src="src/ios/include/mupdf/fitz/tree.h" />
    <header-file src="src/ios/include/mupdf/fitz/unzip.h" />
    <header-file src="src/ios/include/mupdf/fitz/version.h" />
    <header-file src="src/ios/include/mupdf/fitz/write-document.h" />
    <header-file src="src/ios/include/mupdf/fitz/xml.h" />

    <header-file src="src/ios/include/mupdf/pdf/annot.h" />
    <header-file src="src/ios/include/mupdf/pdf/appearance.h" />
    <header-file src="src/ios/include/mupdf/pdf/cmap.h" />
    <header-file src="src/ios/include/mupdf/pdf/pdf-crypt.h" />
    <header-file src="src/ios/include/mupdf/pdf/pdf-document.h" />
    <header-file src="src/ios/include/mupdf/pdf/event.h" />
    <header-file src="src/ios/include/mupdf/pdf/field.h" />
    <header-file src="src/ios/include/mupdf/pdf/pdf-font.h" />
    <header-file src="src/ios/include/mupdf/pdf/javascript.h" />
    <header-file src="src/ios/include/mupdf/pdf/object.h" />
    <header-file src="src/ios/include/mupdf/pdf/output-pdf.h" />
    <header-file src="src/ios/include/mupdf/pdf/page.h" />
    <header-file src="src/ios/include/mupdf/pdf/parse.h" />
    <header-file src="src/ios/include/mupdf/pdf/resource.h" />
    <header-file src="src/ios/include/mupdf/pdf/widget.h" />
    <header-file src="src/ios/include/mupdf/pdf/xref.h" />

    <header-file src="src/ios/Classes/MuAnnotSelectView.h" compiler-flags="-fno-objc-arc"/>
    <source-file src="src/ios/Classes/MuAnnotSelectView.m" compiler-flags="-fno-objc-arc"/>
    <header-file src="src/ios/Classes/MuAnnotation.h" compiler-flags="-fno-objc-arc"/>
    <source-file src="src/ios/Classes/MuAnnotation.m" compiler-flags="-fno-objc-arc"/>
    <header-file src="src/ios/Classes/MuChoiceFieldController.h" compiler-flags="-fno-objc-arc"/>
    <source-file src="src/ios/Classes/MuChoiceFieldController.m" compiler-flags="-fno-objc-arc"/>
    <resource-file src="src/ios/Classes/MuChoiceFieldController.xib" />
    <header-file src="src/ios/Classes/MuDialogCreator.h" compiler-flags="-fno-objc-arc"/>
    <header-file src="src/ios/Classes/MuDocRef.h" compiler-flags="-fno-objc-arc"/>
    <source-file src="src/ios/Classes/MuDocRef.m" compiler-flags="-fno-objc-arc"/>
    <header-file src="src/ios/Classes/MuDocumentController.h" compiler-flags="-fno-objc-arc"/>
    <source-file src="src/ios/Classes/MuDocumentController.m" compiler-flags="-fno-objc-arc"/>
    <header-file src="src/ios/Classes/MuHitView.h" compiler-flags="-fno-objc-arc"/>
    <source-file src="src/ios/Classes/MuHitView.m" compiler-flags="-fno-objc-arc"/>
    <header-file src="src/ios/Classes/MuInkView.h" compiler-flags="-fno-objc-arc"/>
    <source-file src="src/ios/Classes/MuInkView.m" compiler-flags="-fno-objc-arc"/>
    <header-file src="src/ios/Classes/MuOutlineController.h" compiler-flags="-fno-objc-arc"/>
    <source-file src="src/ios/Classes/MuOutlineController.m" compiler-flags="-fno-objc-arc"/>
    <header-file src="src/ios/Classes/MuPageView.h" compiler-flags="-fno-objc-arc"/>
    <header-file src="src/ios/Classes/MuPageViewNormal.h" compiler-flags="-fno-objc-arc"/>
    <source-file src="src/ios/Classes/MuPageViewNormal.m" compiler-flags="-fno-objc-arc"/>
    <header-file src="src/ios/Classes/MuPageViewReflow.h" compiler-flags="-fno-objc-arc"/>
    <source-file src="src/ios/Classes/MuPageViewReflow.m" compiler-flags="-fno-objc-arc"/>
    <header-file src="src/ios/Classes/MuPrintPageRenderer.h" compiler-flags="-fno-objc-arc"/>
    <source-file src="src/ios/Classes/MuPrintPageRenderer.m" compiler-flags="-fno-objc-arc"/>
    <header-file src="src/ios/Classes/MuTapResult.h" compiler-flags="-fno-objc-arc"/>
    <source-file src="src/ios/Classes/MuTapResult.m" compiler-flags="-fno-objc-arc"/>
    <header-file src="src/ios/Classes/MuTextFieldController.h" compiler-flags="-fno-objc-arc"/>
    <source-file src="src/ios/Classes/MuTextFieldController.m" compiler-flags="-fno-objc-arc"/>
    <resource-file src="src/ios/Classes/MuTextFieldController.xib" />
    <header-file src="src/ios/Classes/MuTextSelectView.h" compiler-flags="-fno-objc-arc"/>
    <source-file src="src/ios/Classes/MuTextSelectView.m" compiler-flags="-fno-objc-arc"/>
    <header-file src="src/ios/Classes/MuUpdater.h" compiler-flags="-fno-objc-arc"/>
    <header-file src="src/ios/Classes/MuWord.h" compiler-flags="-fno-objc-arc"/>
    <source-file src="src/ios/Classes/MuWord.m" compiler-flags="-fno-objc-arc"/>


    <resource-file src="src/ios/resources/ic_annotation.png" />
    <resource-file src="src/ios/resources/ic_annotation@2x.png" />
    <resource-file src="src/ios/resources/ic_arrow_left.png" />
    <resource-file src="src/ios/resources/ic_arrow_left@2x.png" />
    <resource-file src="src/ios/resources/ic_arrow_right.png" />
    <resource-file src="src/ios/resources/ic_arrow_right@2x.png" />
    <resource-file src="src/ios/resources/ic_cancel.png" />
    <resource-file src="src/ios/resources/ic_cancel@2x.png" />
    <resource-file src="src/ios/resources/ic_check.png" />
    <resource-file src="src/ios/resources/ic_check@2x.png" />
    <resource-file src="src/ios/resources/ic_highlight.png" />
    <resource-file src="src/ios/resources/ic_highlight@2x.png" />
    <resource-file src="src/ios/resources/ic_magnifying_glass.png" />
    <resource-file src="src/ios/resources/ic_magnifying_glass@2x.png" />
    <resource-file src="src/ios/resources/ic_more.png" />
    <resource-file src="src/ios/resources/ic_more@2x.png" />
    <resource-file src="src/ios/resources/ic_pen.png" />
    <resource-file src="src/ios/resources/ic_pen@2x.png" />
    <resource-file src="src/ios/resources/ic_print.png" />
    <resource-file src="src/ios/resources/ic_print@2x.png" />
    <resource-file src="src/ios/resources/ic_strike.png" />
    <resource-file src="src/ios/resources/ic_strike@2x.png" />
    <resource-file src="src/ios/resources/ic_trash.png" />
    <resource-file src="src/ios/resources/ic_trash@2x.png" />
    <resource-file src="src/ios/resources/ic_underline.png" />
    <resource-file src="src/ios/resources/ic_underline@2x.png" />

  </platform>

  <!-- android -->
  <platform name="android">
    <js-module src="www/mupdf.js">
      <clobbers target="window.pdf" />
    </js-module>

    <framework src="libs/mupdf/mupdf.gradle" custom="true" type="gradleReference" />

    <config-file target="config.xml" parent="/*">
      <feature name="MuPdfPlugin">
        <param name="android-package" value="com.artifex.mupdfdemo.MuPdfPlugin" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity
        android:name="com.artifex.mupdfdemo.MuPDFActivity"
        android:label="@string/app_name"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:theme="@android:style/Theme.Light.NoTitleBar"/>

        <activity
          android:name="com.artifex.mupdfdemo.PrintDialogActivity"
          android:label="@string/app_name"
          android:configChanges="orientation|keyboardHidden|screenSize"
          android:theme="@android:style/Theme.Light.NoTitleBar"/>
    </config-file>

    <config-file target="res/values/strings.xml" parent="/*">
      <string name="version">0.0.1</string>
      <string name="no_media_warning">Storage media not present</string>
      <string name="no_media_hint">Sharing the storage media with a PC can make it inaccessible</string>
      <string name="cancel">Cancel</string>
      <string name="search_backwards">Search backwards</string>
      <string name="search_forwards">Search forwards</string>
      <string name="search_document">Search document</string>
      <string name="picker_title_App_Ver_Dir">%1$s %2$s: %3$s</string>
      <string name="outline_title">Table of Contents</string>
      <string name="enter_password">Enter password</string>
      <string name="text_not_found">Text not found</string>
      <string name="searching_">Searching&#8230;</string>
      <string name="toggle_links">Highlight and enable links</string>
      <string name="no_further_occurrences_found">No further occurrences found</string>
      <string name="select">Select</string>
      <string name="search">Search</string>
      <string name="copy">Copy</string>
      <string name="strike_out">Strike-out</string>
      <string name="delete">Delete</string>
      <string name="highlight">Highlight</string>
      <string name="underline">Underline</string>
      <string name="edit_annotations">Edit annotations</string>
      <string name="ink">Ink</string>
      <string name="save">Save</string>
      <string name="print">Print</string>
      <string name="dismiss">Dismiss</string>
      <string name="parent_directory">[Up one level]</string>
      <string name="yes">Yes</string>
      <string name="no">No</string>
      <string name="entering_reflow_mode">Entering reflow mode</string>
      <string name="leaving_reflow_mode">Leaving reflow mode</string>
      <string name="print_failed">Print failed</string>
      <string name="select_text">Select text</string>
      <string name="copied_to_clipboard">Copied to clipboard</string>
      <string name="no_text_selected">No text selected</string>
      <string name="draw_annotation">Draw annotation</string>
      <string name="nothing_to_save">Nothing to save</string>
      <string name="document_has_changes_save_them_">Document has changes. Save them?</string>
      <string name="cannot_open_document">Cannot open document</string>
      <string name="cannot_open_document_Reason">Cannot open document: %1$s</string>
      <string name="cannot_open_file_Path">Cannot open file: %1$s</string>
      <string name="cannot_open_buffer">Cannot open buffer</string>
      <string name="fill_out_text_field">Fill out text field</string>
      <string name="okay">Okay</string>
      <string name="choose_value">Choose value</string>
      <string name="not_supported">Not supported</string>
      <string name="copy_text_to_the_clipboard">Copy text to the clipboard</string>
      <string name="more">More</string>
      <string name="accept">Accept</string>
      <string name="copy_text">copy text</string>
      <string name="format_currently_not_supported">Format currently not supported</string>
      <string name="toggle_reflow_mode">Toggle reflow mode</string>
      <string name="about_button_desc">About Button</string>
      <string name="share_button">Share Button</string>
      <string name="download_button">Download Button</string>
      <string name="delete_button">Delete Button</string>
      <string name="map_button_text">Map</string>
      <string name="web_button_text">Web</string>
      <string name="call_button_text">Call</string>
      <string name="email_button_text">Email</string>
      <string name="text_notes_button">Text Notes Button</string>
      <string name="drawing_notes_button">Drawing Notes Button</string>
      <string name="trash_notes_selection_button">Delete Notes Selection Button</string>
      <string name="prev_page_button">Previous Page Button</string>
      <string name="next_page_button_desc">Next Page Button</string>
      <string name="save_notes_button_desc">Save Notes Button</string>
      <string name="trash_notes_text">Delete</string>
      <string name="format_currently_not_supported">Format currently not supported</string>
      <string name="print_failed">Print failed</string>
    </config-file>

    <source-file src="src/android/res/layout/buttons.xml" target-dir="res/layout"/>
    <source-file src="src/android/res/layout/picker_entry.xml" target-dir="res/layout"/>
    <source-file src="src/android/res/layout/textentry.xml" target-dir="res/layout"/>
    <source-file src="src/android/res/layout/outline_entry.xml" target-dir="res/layout"/>
    <source-file src="src/android/res/layout/print_dialog.xml" target-dir="res/layout"/>

    <source-file src="src/android/res/values/colors.xml" target-dir="res/values"/>

    <source-file src="src/android/res/animator/info.xml" target-dir="res/animator"/>

    <source-file src="src/android/res/drawable/busy.xml" target-dir="res/drawable"/>
    <source-file src="src/android/res/drawable/page_num.xml" target-dir="res/drawable"/>
    <source-file src="src/android/res/drawable/seek_progress.xml" target-dir="res/drawable"/>
    <source-file src="src/android/res/drawable/seek_thumb.xml" target-dir="res/drawable"/>

    <source-file src="src/android/res/drawable/ic_arrow_up.png" target-dir="res/drawable"/>
    <source-file src="src/android/res/drawable/ic_dir.png" target-dir="res/drawable"/>
    <source-file src="src/android/res/drawable/ic_doc.png" target-dir="res/drawable"/>
    <source-file src="src/android/res/drawable/ic_print.png" target-dir="res/drawable"/>

    <source-file src="src/android/MuPdfPlugin.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/Annotation.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/ArrayDeque.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/AsyncTask.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/CancellableAsyncTask.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/CancellableTaskDefinition.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/ChoosePDFActivity.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/ChoosePDFAdapter.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/ChoosePDFItem.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/Deque.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/FilePicker.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/LinkInfo.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/LinkInfoExternal.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/LinkInfoInternal.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/LinkInfoRemote.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/LinkInfoVisitor.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/MuPDFActivity.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/MuPDFAlert.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/MuPDFAlertInternal.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/MuPDFCancellableTaskDefinition.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/MuPDFCore.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/MuPDFPageAdapter.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/MuPDFPageView.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/MuPDFReaderView.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/MuPDFReflowAdapter.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/MuPDFReflowView.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/MuPDFView.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/OutlineActivity.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/OutlineActivityData.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/OutlineAdapter.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/OutlineItem.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/PageView.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/PrintDialogActivity.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/ReaderView.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/SafeAnimatorInflater.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/SearchTask.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/SearchTaskResult.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/Stepper.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/TextChar.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/TextWord.java" target-dir="src/com/artifex/mupdfdemo" />
    <source-file src="src/android/com/artifex/mupdfdemo/WidgetType.java" target-dir="src/com/artifex/mupdfdemo" />
  </platform>
</plugin>
